<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    
    <div id="page-container">
        <!-- header partial -->
    <%-include('_header')%>
        <main id="main-body">
            <%-body%>
        </main>
        <!-- footer partial -->
    <%-include('_footer')%>
    </div>
    
</body>
</html>