<link rel="stylesheet" href="/css/forms.css">

<div class="form-container">
  <h2>Login to our account</h2>
 <form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Enter Email" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <input type="submit" value="Login">
  </form>
</div>