.form-container {
  margin: auto; }
  .form-container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem; }
    .form-container form input {
      padding: 1.5rem;
      font-size: 1rem;
      outline: none; }
      .form-container form input[type=submit] {
        color: white;
        background-color: #009A3E;
        box-shadow: 0 0 3px #009A3E;
        border: none;
        padding: 0.8rem; }
        .form-container form input[type=submit]:hover {
          box-shadow: none; }
